{
    "extends": "airbnb",
    "env": {
        "node": true,
        "browser": true
    },
    "rules": {
        "arrow-body-style": 0,
        "comma-dangle": [2, "never"],
        "id-length": [1, {"min": 1}],
        "indent": [2, 4, {"SwitchCase": 1}],
        max-len: [2, 120],
        "no-console": 0,
        "no-underscore-dangle": [2, {"allowAfterThis": true}],
        "semi": [2, "always"],
        "space-after-keywords": 0, // deprecated but inherited- replaced by keyword-spacing
        "space-return-throw-case": 0 // deprecated but inherited- replaced by keyword-spacing
    }
}
